<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Memo</title>
  </head>
  <body>
    <h1> Edit Memo </h1>
    <form action="/updateMemo/<%- memo._id %>" method="post">
      <h3>Memo</h3>
      <input type="text" name="memo" value="<%- memo.memo %>">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>